$color-white: white;
$color-black: black;
$color-background: #E5E5E5;
$color-primary: green;
$color-secondary: blue;
$color-text: #333333;

$screen-xxl: 1320px;
$screen-xl: 1140px;
$screen-lg: 960px;
$screen-md: 720px;
$screen-sm: 540px;

