section {
    display: flex;
}

h1 {
    align-items: center;
}

hr {
    width: 2px;
    background-color: black;
}

ul {
    list-style-type: none;
}

.trucks {
    height: 7px;
}

.close {
    height: 24px;
}

.hamburger-elem {
    height: 10px;
}