@import "~bootstrap";

* {
    font-family: 'Montserrat', sans-serif;
}

:root {
    --color-secondary: #333333;
    --color-third: darkslategray;
}

header {
    margin: 20px 0;
    text-align: center;
    line-height: 50%;
}

.header-photo {
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

img {
    border-radius: 20px;
}

.header-title,
.header-info {
    margin: 20px 0;
}

.header-info {
    color: var(--color-secondary);
}

.grid-container {
    display: grid;
    gap: 2vw;
    justify-items: start;
    grid-template-columns: 29vw 68vw;
    grid-template-rows: auto auto;
    margin: 40px;
}

.content {
    margin-bottom: 30px;
}

.content-header {
    margin-bottom: 20px;
}

.content-info {
    margin-bottom: 3px;
    transition: margin-left 1000ms ease-in-out;
}

.content-info.margin:hover {
    margin-left: 40px;
}

ul {
    list-style: none;
}

.list li::before {
    color: var(--color-third);
    margin-right: 5px;
}

.list.bird li::before {
    content: '\2714';
}

.list.flower li::before {
    content: '\2756';
}

.list.romb li::before {
    content: '\25C8';
}

p {
    max-width: 68%;
    line-height: 20px;
    font-size: 16px;
}

p::before {
    content: '';
    display: inline-block;
    margin-left: 40px;
}

.marked {
    color: var(--color-secondary);
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    margin-bottom: 10px;
}