:root {
  --color-white: white;
  --color-black: black;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
  margin: 0;
}

.background-header-container {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  background-color: white;
}

.background-main-container {
  background-color: #f0f0f0;
}

.background-footer-container {
  background-color: var(--color-black);
}

.container {
  width: 100%;
  max-width: 1230px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

a.button {
  display: inline-block;
  background: blue;
  color: white;
  padding: 10px 40px;
  border-radius: 25px;
  text-decoration: none;
  text-transform: uppercase;
}

.header {
  background-color: white;
}

.header .content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .navigation {
  display: flex;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
  margin-left: 60px;
}

.header .navigation ul.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  list-style-type: none;
  padding-left: 0;
  row-gap: 20px;
  -moz-column-gap: 30px;
       column-gap: 30px;
}

.header .navigation ul.menu li a {
  color: black;
  text-decoration: none;
}

.container .top-info-wrapper {
  margin-bottom: 30px;
}

.container .top-info-wrapper .main-theme {
  width: 100%;
  font-size: 72px;
  margin-bottom: 20px;
  padding-top: 50px;
}

.container .top-info-wrapper a {
  text-decoration: none;
  color: black;
}

.container .top-info-wrapper .test-link {
  display: flex;
  width: 100%;
  background-color: var(--color-white);
  align-items: center;
  justify-content: space-around;
}

.container .top-info-wrapper .test-link .text {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.container .top-info-wrapper .test-link .text .slogan {
  color: deeppink;
}

.container .top-info-wrapper .test-link .symbol span {
  font-size: 60px;
  font-weight: bold;
  color: darkblue;
  text-align: center;
}

.container .main-part {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  width: 100%;
  -moz-column-gap: 30px;
       column-gap: 30px;
  margin-bottom: 30px;
}

.container .main-part .filter {
  position: sticky;
  top: 80px;
  align-self: flex-start;
  background-color: var(--color-white);
  grid-column: 1/2;
  grid-row: 1/2;
  padding: 30px;
}

.container .main-part .main-content {
  grid-column: 2/3;
  grid-row: 1/2;
}

.main-part .filter form label {
  font-size: 18px;
  font-weight: bold;
}

.main-part .filter form select {
  background-color: #f0f0f0;
  box-shadow: darkblue 0 0 5px;
  width: 100%;
  height: 40px;
  border-radius: 20px;
  text-transform: uppercase;
  padding-left: 20px;
  font-weight: bold;
}

.main-part .filter form select:hover {
  background-color: lightgrey;
}

.main-part .filter form > div {
  margin-bottom: 30px;
}

.main-part .filter form input {
  margin-top: 10px;
}

.main-part .filter form div label {
  margin-bottom: 5px;
}

.main-part .filter form .time .time-text {
  font-size: 18px;
  font-weight: bold;
}

.main-part .filter form .time .time-input {
  font-size: 18px;
  margin-bottom: 10px;
}

.floating-image {
  position: fixed;
  height: 110px;
  width: 110px;
  bottom: 30px;
  right: 30px;
}

button {
  background-color: white;
  text-transform: uppercase;
  border-radius: 20px;
  border: blue solid 1px;
  color: blue;
  width: 100%;
  height: 40px;
  font-weight: 500;
}

button:hover {
  color: cornflowerblue;
}

.container .main-part .main-content {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.container .main-part .main-content .content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  width: calc(50% - 15px);
  position: relative;
  background-color: var(--color-white);
}

.container .main-part .main-content .content-wrapper .content-top-wrapper .type {
  display: grid;
  place-items: center;
  max-width: 200px;
  padding: 10px 20px;
  background-color: deeppink;
  color: white;
  text-transform: uppercase;
  border-radius: 20px;
  position: absolute;
  transform: translate(250px, -20px);
  font-size: 12px;
  z-index: 200;
}

.container .main-part .main-content .content-wrapper .content-top-wrapper .image-wrapper {
  height: 100px;
}

.container .main-part .main-content .content-wrapper .content-top-wrapper .image-wrapper .image-type {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container .main-part .main-content .content-wrapper .content-bottom-wrapper .type-time {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 30px;
}

.container .main-part .main-content .content-wrapper .type-time .type-image {
  height: 100%;
}

.container .main-part .main-content .content-wrapper .type-time .time-image {
  height: 100%;
}

.container .footer-wrapper {
  background-color: var(--color-black);
  width: 100%;
}

.container .footer-wrapper .image-logo-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  height: 300px;
}

.container .footer-wrapper .image-logo-wrapper img {
  height: 42px;
  width: 137px;
}

.container .footer-wrapper .footer-menu {
  background-image: url("/public/img/footer.svg");
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: right bottom;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  row-gap: 200px;
}

.container .footer-wrapper .footer-menu .menu-list {
  grid-column: 1/2;
  grid-row: 1/2;
}

.container .footer-wrapper .footer-menu .menu-list ul {
  padding-left: 0;
}

.container .footer-wrapper .footer-menu .menu-list ul .menu-item {
  list-style-type: none;
  padding-bottom: 15px;
  font-size: 17px;
}

.container .footer-wrapper .footer-menu .menu-list ul .menu-item a {
  text-decoration: none;
  color: grey;
}

.container .footer-wrapper .footer-menu .menu-list .menu-item a:hover {
  color: var(--color-white);
  text-decoration: underline;
}

.container .footer-wrapper .footer-menu .addresses-list {
  grid-column: 2/3;
  grid-row: 1/2;
  width: 50%;
  line-height: 1.5;
}

.container .footer-wrapper .footer-menu .addresses-list .city {
  text-transform: uppercase;
  color: var(--color-white);
  font-size: 14px;
  padding-bottom: 30px;
}

.container .footer-wrapper .footer-menu .addresses-list address {
  padding-bottom: 15px;
  font-size: 17px;
}

.container .footer-wrapper .footer-menu .addresses-list address:hover .address {
  color: var(--color-white);
  text-decoration: underline;
}

.container .footer-wrapper .footer-menu .addresses-list address .address {
  text-decoration: none;
  font-style: normal;
  color: grey;
}

.container .footer-wrapper .footer-menu .social-media {
  display: flex;
  grid-column: 4/5;
  grid-row: 1/2;
  justify-content: flex-start;
}

.container .footer-wrapper .footer-menu .social-media .instagram-logo,
.container .footer-wrapper .footer-menu .social-media .facebook-logo,
.container .footer-wrapper .footer-menu .social-media .linkedin-logo {
  fill: grey;
  margin: 0 10px;
}

.container .footer-wrapper .footer-menu .social-media .instagram-logo:hover,
.container .footer-wrapper .footer-menu .social-media .facebook-logo:hover,
.container .footer-wrapper .footer-menu .social-media .linkedin-logo:hover {
  fill: var(--color-white);
}

.container .footer-wrapper .footer-menu .ca-kids {
  grid-column: 1/3;
  grid-row: 2/3;
}

.container .footer-wrapper .footer-menu .ca-kids span {
  color: grey;
  font-size: 17px;
}

.container .footer-wrapper .footer-menu .ca-kids img {
  display: block;
  height: 44px;
  width: 97px;
  margin-top: 20px;
}

.container .footer-wrapper .footer-menu .ca-kids a {
  text-decoration: none;
  color: var(--color-white);
  font-size: 17px;
}

.container .footer-wrapper .footer-menu .ca-kids a:hover {
  text-decoration: underline;
}

.container .footer-wrapper .footer-menu .private-policy {
  grid-column: 3/4;
  grid-row: 2/3;
  justify-self: end;
}

.container .footer-wrapper .footer-menu .private-policy a {
  text-decoration: none;
  color: grey;
  font-size: 17px;
}

.container .footer-wrapper .footer-menu .private-policy a:hover {
  text-decoration: underline;
  color: var(--color-white);
}
