* {
  box-sizing: border-box;
  font-family: Metropolis, sans-serif;

  &::before {
    box-sizing: border-box;
  }

  &::after {
    box-sizing: border-box;
  }
}

body {
  background-color: #f0f0f0;
  margin: 0;
}