.main-background-container {
  width: 100%;
  background-color: #f0f0f0;
}

.main-background-container .container {
  width: 100%;
  max-width: 1230px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 25px;
  padding-left: 25px;
}

.main-background-container .container .section-first {

}

.main-background-container .container .section-second {

}

.main-background-container .container .section-third {

}

.main-background-container .container .section-fourth {

}

.main-background-container .container .section-fifth {

}