header {
  color: white;
  padding: 50px 25px;
  background-color: sandybrown;
  background-image: url("/public/img/cat.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 25%;
}

//.photo-wrapper {
//  width: 500px;
//  height: 500px;
//}
//
//.photo-wrapper img {
//  width: 100%;
//  height: 500px;
//  object-fit: cover;
//}