$color-primary-dark: darkgreen;
$color-primary: #4CAF50;
$color-primary-light: limegreen;
$color-primary-lighter: lightgreen;
$color-secondary: #008CBA;
$color-secondary-light: cornflowerblue;
$color-secondary-lighter: lightblue;
$color-white: white;
$color-black: black;
$color-background: #F0F0F0;
$color-text: #F0F0F0;
