*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
  margin: 0;
}

.background-container {
  width: 100%;
  background-color: #f0f0f0;
}

.container {
  width: 100%;
  max-width: 1230px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 25px;
  padding-left: 25px;

  .search-input-wrapper {
    width: 100%;
    display: grid;
    place-items: center;
    margin-top: 50px;

    #search {
      width: 300px;
    }

    #match-list {
      height: 50px;
      width: 100%;
    }
  }
}

@media screen and (max-width: 1320px) {

}

@media screen and (max-width: 1140px) {

}

@media screen and (max-width: 960px) {

}

@media screen and (max-width: 720px) {

}

@media screen and (max-width: 540px) {

}