
.footer-background-container {
  width: 100%;
  background-color: #f0f0f0;

  .container {
    background-color: #F0DCC5;
    width: 100%;
    max-width: 1230px;
    margin-right: auto;
    margin-left: auto;
    padding: 100px;

    .footer {
      .footer-wrapper {
        .first-column-wrapper {
          min-height: 300px;

          .content-wrapper {
            .logo-wrapper {

            }

            span {
              color: #4F4F4F;
            }

            .social-media {

              .top-logos {
                a {
                  &:hover {
                    svg {
                      path {
                        fill: $color-black;
                      }
                    }
                  }

                  svg {
                    path {
                      fill: #647B64;
                    }
                  }
                }
              }
            }
          }
        }

        .second-column-wrapper,
        .third-column-wrapper {
          min-height: 300px;

          h5 {
            color: #647B64;
          }

          ul {
            li {
              a {
                color: $color-text;
              }
            }
          }
        }

        .fourth-column-wrapper {
          min-height: 300px;

          h5 {
            color: #647B64;
          }

          .text-area {
            width: 300px;

            #floatingTextarea {
              min-height: 100px;
            }
          }

          a {
            text-decoration: none;

            .button-wrapper {
              background: rgb(5, 88, 42);
              background: linear-gradient(90deg, rgba(5, 88, 42, 1) 0%, rgba(24, 154, 100, 1) 100%);
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding: 15px 25px;
              border-radius: 3px;
              width: 300px;

              .button-text {
                font-size: 16px;
                color: $color-white;
                transition: color .7s ease-in-out;
              }

              .arrow-symbol {
                font-size: 24px;
                color: $color-white;
                transition: color .7s ease-in-out;
              }

              &:hover {
                .button-text,
                .arrow-symbol {
                  color: $color-secondary;
                }
              }
            }
          }
        }
      }
    }
  }
}