.footer-background-container {
  width: 100%;
  background-color: #f0f0f0;

  .container {
    background-color: #F0DCC5;
    width: 100%;
    max-width: 1230px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 25px;
    padding-left: 25px;
    min-height: 600px;

    .footer {

    }
  }
}