.upper-case {
  text-transform: uppercase;
}

.black-text {
  color: $color-black;
}

.white-text {
  color: $color-white;
}

.bold-text {
  font-weight: 700;
}

.text-decoration {
  text-decoration: none;
}

.black {
  background-color: $color-black;
}

.pink {
  background-color: deeppink;
}

.white {
  background-color: $color-white;
}