.header-background-container {
  width: 100%;
  background-color: #f0f0f0;
}

.header-background-container .container {
  width: 100%;
  max-width: 1230px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 25px;
  padding-left: 25px;
}

.header-background-container .container .header {

}