*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.content-wrapper {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 30px;
       column-gap: 30px;
}

.shop {
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.1);
  padding: 15px;
}

.shops-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.shop-address-list {
  list-style-type: none;
  padding-left: 0;
}

.map-wrapper iframe {
  width: 100%;
  height: 100%;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.orange {
  background-color: orange;
}

.purple {
  background-color: purple;
}

.pink {
  background-color: pink;
}

@media screen and (max-width: 960px) {
  body {
    background-color: powderblue;
  }
  .map-wrapper {
    height: 100%;
    width: 75%;
  }
  .content-wrapper .shops-wrapper {
    width: 125%;
  }
  .map-wrapper {
    justify-self: end;
  }
}
@media screen and (max-width: 720px) {
  body {
    background-color: lightgreen;
  }
  .map-wrapper {
    height: 100%;
    width: 100%;
  }
  .content-wrapper .shops-wrapper {
    width: 100%;
  }
  .map-wrapper {
    order: -1;
    justify-self: stretch;
  }
  .content-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 400px auto;
    row-gap: 20px;
  }
}
@media screen and (max-width: 540px) {
  body {
    background-color: palevioletred;
  }
  .shops-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    row-gap: 10px;
  }
}
